@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

#hero {
  width: 10rem;
  height: 10rem;
  border-width: 5px !important;
}

.item {
  box-shadow: none;
  text-align: left !important;
}

.item * {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.item-logo {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-label-group {
  position: relative;
}

.item-label-group p,
.item-label-group label {
  width: 100%;
  height: 3.125rem;
  line-height: 1.5;
  padding: 0.75rem;
  margin-bottom: 0;
  display: block;
}

.item-label-group p {
  color: transparent;
  /*transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
}

.item-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  /*transition: all .1s ease-in-out;*/
}

.item:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.item:hover p {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
  color: inherit;
}

.item:hover label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
}

span.line {
  display: inline-block;
}

/* 
Begin: Item Specific Styles
*/

#facebook-button {
  background: #5890ff;
  color: white;
}

#facebook-button:hover {
  background: #4267b2;
  color: white;
}

#facebook-logo {
  background-image: url("https://api.iconify.design/simple-icons/facebook.svg?color=white");
}

#twitter-button {
  background: #1da1f2;
  color: white;
}

#twitter-button:hover {
  background: white;
  color: #1da1f2;
}

#twitter-logo {
  background-image: url("https://api.iconify.design/simple-icons/twitter.svg?color=white");
}

#twitter-button:hover #twitter-logo {
  background-image: url("https://api.iconify.design/simple-icons/twitter.svg?color=%231da1f2");
}

#instagram-button {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}

#instagram-logo {
  background-image: url("https://api.iconify.design/simple-icons/instagram.svg?color=white");
}

#github-button {
  background: #24292e;
  color: white;
}

#github-logo {
  background-image: url("https://api.iconify.design/simple-icons/github.svg?color=white");
}

#linkedin-button {
  background: #008cc9;
  color: white;
}

#linkedin-button:hover {
  background: #0077b5;
  color: white;
}

#linkedin-logo {
  background-image: url("https://api.iconify.design/simple-icons/linkedin.svg?color=white");
}

#glass-button {
  background: black;
  color: white;
}

#glass-button:hover {
  background: white;
  color: black;
}

#glass-logo {
  background-image: url("https://glass.photo/apple-touch-icon.png");
}

#medium-button {
  background: #1f1f1f;
  color: #e8f3ec;
}

#medium-button:hover {
  background: #e8f3ec;
  color: #1c1b1a;
}

#medium-logo {
  background-image: url("https://api.iconify.design/simple-icons/medium.svg?color=%23e8f3ec");
}

#medium-button:hover #medium-logo {
  background-image: url("https://api.iconify.design/simple-icons/medium.svg?color=%231f1f1f");
}

#spotify-button {
  background: #1db954;
  color: white;
}

#spotify-button:hover {
  background: #1ed760;
  color: white;
}

#spotify-logo {
  background-image: url("https://api.iconify.design/simple-icons/spotify.svg?color=white");
}

#youtube-button {
  background: red;
  color: white;
}

#youtube-button:hover {
  background: white;
  color: red;
}

#youtube-logo {
  background-image: url("https://api.iconify.design/simple-icons/youtube.svg?color=white");
}

#youtube-button:hover #youtube-logo {
  background-image: url("https://api.iconify.design/simple-icons/youtube.svg?color=red");
}
